.resort_card {
  background-color: var(--quaternary-color);
  border-radius: 20px;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
}

.spacer {
  height: 5vh;
}

.resort_headertext {
  color: var(--primary-color);
}
